In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
from get_resultados import read_all, download_all, check_all, processa_all

In [5]:
check_all()
download_all()
df = read_all()
df = processa_all(df)
df

,dataApuracao,dezenasSorteadasOrdemSorteio,numeroDeGanhadores15acertos,ganhou,ciclo,jogos,jogo,falta,dezenasFaltantes
numero,,,,,,,,,
1,29/09/2003,"[18, 20, 25, 23, 10, 11, 24, 14, 6, 2, 13, 9, ...",5,1,1,7,1,10,"[1, 4, 7, 8, 12, 15, 17, 19, 21, 22]"
2,06/10/2003,"[23, 15, 5, 4, 12, 16, 20, 6, 11, 19, 24, 1, 9...",1,1,1,7,2,4,"[8, 17, 21, 22]"
3,13/10/2003,"[20, 23, 12, 8, 6, 1, 7, 11, 14, 4, 16, 10, 9,...",2,1,1,7,3,2,"[21, 22]"
4,20/10/2003,"[16, 5, 25, 24, 23, 8, 12, 2, 17, 18, 1, 10, 4...",1,1,1,7,4,2,"[21, 22]"
5,27/10/2003,"[15, 13, 20, 2, 11, 24, 9, 16, 4, 23, 25, 12, ...",2,1,1,7,5,2,"[21, 22]"
...,...,...,...,...,...,...,...,...,...
2456,23/02/2022,"[17, 12, 25, 18, 10, 9, 8, 13, 4, 19, 6, 24, 5...",0,0,520,5,1,10,"[1, 2, 3, 7, 11, 15, 16, 20, 22, 23]"
2457,24/02/2022,"[16, 25, 23, 22, 5, 15, 8, 11, 20, 24, 1, 10, ...",5,1,520,5,2,2,"[2, 7]"
2458,25/02/2022,"[18, 24, 3, 11, 8, 10, 12, 25, 6, 1, 2, 4, 22,...",1,1,520,5,3,1,[7]
2459,26/02/2022,"[3, 1, 23, 18, 19, 21, 11, 5, 20, 6, 25, 14, 1...",1,1,520,5,4,1,[7]
2460,02/03/2022,"[5, 12, 15, 18, 23, 11, 3, 6, 4, 2, 1, 14, 9, ...",3,1,520,5,5,1,[7]